<section>
  <h1>Sponsors</h1>
  <ul id="sponsors">
    <li><a href="http://store.pulsestorm.net/"><img src="/images/pulse_storm.png" alt="Pulse Storm"></a></li>
    <li><a href="http://graphstory.com"><img src="/images/graphstory.png" alt="Graph Story"></a></li>
    <li><a href="http://roave.com"><img src="/images/roave.png" alt="Roave"></a></li>
    <li><a href="http://wondernetwork.com"><img src="/images/wonderlogo.png" alt="WonderNetwork"></a></li>
  </ul>

  <p><a href="/sponsors">Sponsor Development Hell &raquo;</a></p>
</section>
