<section>
<h1>Subscribe Now!</h1>
<ul>
	<li>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="http://devhell.us6.list-manage2.com/subscribe/post?u=620f181d5f3c80cf4a4e08bdb&amp;id=c9367a4faf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate quick-email-form" target="_blank" novalidate>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Newsletter</label>
			<div>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	<div class="clear"> <a href="/subscribe-email.html">more &raquo;</a></div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</li>
	<li><a href="https://geo.itunes.apple.com/us/podcast/dev-hell/id489840699?mt=2" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/images/badges/en-us/badge_itunes-lrg.svg) no-repeat;width:165px;height:40px;"></a></li>
	<li><a href='https://goo.gl/app/playmusic?ibi=com.google.PlayMusic&isi=691797987&ius=googleplaymusic&link=https://play.google.com/music/m/Imprmrskff7gy2whw2f75ox3tvm?t%3D/dev/hell&utm_source=global_co&utm_medium=prtnr&utm_content=Mar2515&utm_campaign=PartBadge&pcampaignid=MKT-Other-global-all-co-prtnr-mu-PartBadge-Mar2515-1' style="display:inline-block; overflow:hidden; background-image:url(https://play.google.com/intl/en_us/badges-music/images/badges/en_badge_web_music.png); background-repeat-x: no-repeat; background-repeat-y: no-repeat; width:165px;height:40px; background-size:contain"></a></li>
	<li><a href="http://feeds.devhell.info/devhell-podcast">RSS Feed</a></li>
</ul>
</section>
