<section>
<h1>Subscribe Now!</h1>
<ul>
	<li>
		<!-- Begin MailChimp Signup Form -->
		<div id="mc_embed_signup">
		<form action="http://devhell.us6.list-manage2.com/subscribe/post?u=620f181d5f3c80cf4a4e08bdb&amp;id=c9367a4faf" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate quick-email-form" target="_blank" novalidate>
		<div class="mc-field-group">
			<label for="mce-EMAIL">Email Newsletter</label>
			<div>
				<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="your@email.com">
				<input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button">
			</div>
		</div>
			<div id="mce-responses" class="clear">
				<div class="response" id="mce-error-response" style="display:none"></div>
				<div class="response" id="mce-success-response" style="display:none"></div>
			</div>	<div class="clear"> <a href="/subscribe-email.html">more &raquo;</a></div>
		</form>
		</div>

		<!--End mc_embed_signup-->
	</li>
	<li><a href="https://itunes.apple.com/us/podcast/dev-hell/id489840699?mt=2&uo=4" target="itunes_store" style="display:inline-block;overflow:hidden;background:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.png) no-repeat;width:135px;height:40px;@media only screen{background-image:url(https://linkmaker.itunes.apple.com/htmlResources/assets/en_us//images/web/linkmaker/badge_subscribe-lrg.svg);}"></a></li>
	<li><a href="http://feeds.feedburner.com/devhell-podcast">RSS Feed</a></li>
</ul>
</section>
